@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
* {
   box-sizing: border-box;
}
:root {
 
   --purple-grey:  #2c3531;
   --hover-rose: #ffcb9a;
   --green-stipe: #d1e8e2;
   --beige: #d9b08c;
   --tourmaline: #116466;
}
html {
   scroll-behavior: smooth; 
   
}
a{
   text-decoration:none;
   color: var(--hover-rose);
   font-size: 30px;
   font-weight: bold;
   font-family: 'Inter';
   }
a:hover { 
   color: var(--green-stipe);
} 

img { 
   max-width:100%;
}
html,body {
   width:100%;
   height:100%;
   padding:0;
   margin:0;

}
     
body {  
   background-color: var(--tourmaline);
   color: var(--beige);
}

main {
   flex-grow:1;
   width: 100%;
}
      
.cont {
   width: 100%;
   margin: auto;
   align-items:center;
   display:flex;
   flex-direction:column;
   min-height:100%;
}
header{
   width: 100%;
   display:flex;
}
.text-title{
  text-align: start;
  font-family: 'Inter';
}
.strip{
   width: 100%;
   height: 3px; 
   border: solid 2px var(--green-stipe);
   background-color: var(--green-stipe);
}
.header-logo{
   width: 50px;
   height: 50px;
   fill: var(--green-stipe);
   transition: 0.25s;
   margin: 10px 5% 10px 20px;
 }
 .header-logo:hover{
  fill: var(--hover-rose);
 }
 .search-box {
   margin: 15px 5% 10px 20px;
   width: 25%;
 }
 
 .search-box input {
   background-color: var(--green-stipe);
   font-size: 1.5rem;
   padding: 12px 12px;
   border-radius: 10px;
   transition: all 0.30s ease-in-out;
   border: 1px solid var(--green-stipe);
 }

 .img-search{
   width: 200px;
   height: 214px;
   cursor: pointer;
 }

.logo-rss{
width: 120px;
height: 50px;
background-size: contain;
background-repeat: no-repeat;
background-image: url('./assets/svg/rss.svg');
transition: .3s;
filter: invert(20%) sepia(20%) saturate(580%) brightness(90%)
contrast(90%);
border-radius: 10px;
margin-bottom: 10px;
}

.logo-rss:hover {
 filter: invert(10%)  saturate(780%) brightness(90%)
 contrast(70%);
}
footer{
   width: 100%;   
}
   
.footer-container{
   margin: 0 4%;
   display: flex;
   justify-content: space-between;
   font-size: 30px;
   font-weight: bold;
  }
      
@media (max-width: 768px) {
.footer-container{
   font-size: 20px;
}

a {
font-size: 20px;
}
.logo-rss{
   width: 80px;
   height: 40px;
}

}