@font-face {
  font-family: 'Inter';
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}
* {
   box-sizing: border-box;
   padding:0;
   margin:0;
}
:root {
 
   --purple-grey:  #2c3531;
   --hover-rose: #ffcb9a;
   --green-stipe: #d1e8e2;
   --beige: #d9b08c;
   --tourmaline: #116466;
}
html {
   scroll-behavior: smooth; 
   
}
a{
   text-decoration:none;
   color: var(--beige);
   font-size: 30px;
   font-weight: bold;
   font-family: 'Inter';
   }
a:hover { 
   color: var(--green-stipe);
} 

img { 
   max-width:100%;
}
html,body {
   width:100%;
   height:100%;
  }
     
body {  
   background-color: var(--tourmaline);
   color: var(--beige);
}

main {
   flex-grow:1;
   width: 100%;
}
      
.cont {
   width: 100%;
   margin: auto;
   align-items:center;
   display:flex;
   flex-direction:column;
   min-height:100%;
   
}
header{
   width: 100%;
   display:flex;
   padding: 2%;
}
.text-title{
  text-align: start;
  font-family: 'Inter';
 
}
.strip{
   width: 100%;
   height: 3px; 
   border: solid 2px var(--green-stipe);
   background-color: var(--green-stipe);
}
.header-logo{
   width: 50px;
   height: 50px;
   fill: var(--green-stipe);
   transition: 0.25s;
   margin-right: 2% ;
 }
 .header-logo:hover{
  fill: var(--hover-rose);
 }
 .search-box {
   margin: 0px 0 0 auto;
   position: relative;
 }
 .button{
   background: none;
   cursor: pointer;
   border: none;
   top: 7px;
   right:10px;
   position: absolute;
   line-height: 1;
   font-size: 40px;
   color: var(--tourmaline);
 }
 .search-box input {
   background-color: var(--green-stipe);
   padding: 12px 12px;
   border-radius: 10px;
   transition: all 0.30s ease-in-out;
   border: 1px solid var(--green-stipe);
 }
 #input{
padding-right: 50px;
font-size: 1.5rem;
color: var(--tourmaline);
 }

 .search-btn:hover{
   color: var(--beige);
 }
 .section{
   display: flex;
   flex-direction: row;
   flex-wrap:wrap;
   justify-content: center;
   }
 .img-search-API{
   background-size: cover;
   width: 380px;
   height: 214px;
   cursor: pointer;
   margin: 10px;
   box-shadow: 5px 5px 10px var(--purple-grey);
   border-radius: 10px;
   
 }

.logo-rss{
width: 120px;
height: 50px;
background-size: contain;
background-repeat: no-repeat;
background-image: url('./assets/svg/rss.svg');
transition: .3s;
filter: invert(20%) sepia(20%) saturate(580%) brightness(90%)
contrast(90%);
border-radius: 10px;
margin-bottom: 10px;
}

.logo-rss:hover {
 filter: invert(10%)  saturate(780%) brightness(90%)
 contrast(70%);
}
footer{
   width: 100%;   
}
   
.footer-container{
   margin: 0 4%;
   display: flex;
   justify-content: space-between;
   font-size: 30px;
   font-weight: bold;
  }
      
@media (max-width: 768px) {
.footer-container{
   font-size: 20px;
}
img { 
   width:100%;
}
a {
font-size: 20px;
}
.logo-rss{
   width: 80px;
   height: 40px;
}
header{
   flex-wrap: wrap;
}
.text-title{
   font-size: 20px;
   
}

#input{
   padding-right: 20px;
   font-size: 1rem;
    }
.search-box {
   margin: auto;
   

 }
.header-logo{
   width: 30px;
   height: 30px;

}

}